*,
::before,
::after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

:root {
  --primary-color: #7264d6;
  --secondary-color: #212832;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

/* --------- Common ----------- */
a {
  text-decoration: none;
}

.btn {
  --height: 58px;
  --min-width-btn: 149px;

  /* Sizing */
  min-width: var(--min-width-btn);
  height: var(--height);
  background: #212832;
  border-radius: 6px;
  border: none;
  /* Text */
  font-weight: 600;
  font-size: 1.6rem;
  line-height: var(--height);
  text-align: center;
  color: #ffffff;
  /* Other */
  cursor: pointer;
}

/* font-size: 1.6rem line-height: 1.75 */
.desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.75;
  color: #696d76;
}

/* Heading-2 */
.heading-2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.25;
  color: var(--secondary-color);
}

/* ---------- Header ------------ */
.header {
  margin-top: 32px;
}

.header-row {
  display: flex;
  align-items: center;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 0 7px;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  padding: 8px 24px;
  font-size: 1.6rem;
  transition: text-shadow 0.5s;
}

.nav__item-active,
.nav__item:hover,
.header__action-link:hover {
  color: var(--secondary-color);
  text-shadow: 1px 0 0 var(--secondary-color);
}

.nav__item-active {
  position: relative;
}

.nav__item-active::after {
  position: absolute;
  left: 24px;
  bottom: 0;
  content: "";
  height: 1px;
  width: 47px;
  background: var(--primary-color);
}

.header__action {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: 400px;
}

.header__action-link,
.header__action-btn {
  display: inline-block;
  font-weight: 600;
}

.header__action-link {
  white-space: nowrap;
  transition: text-shadow 0.5s;
}

.header__action-btn {
  min-width: 113px;
  color: #fff;
  line-height: 52px;
  transition-property: background, color;
  transition-duration: 0.4s;
}

.header__action-btn:hover {
  background: var(--primary-color);
}

/* ---------- Hero ------------ */
/* Hero left */
.hero {
  margin-top: 76px;
}

.hero-content {
  margin-top: 57px;
}

.hero__title {
  display: flex;
  align-items: center;
  margin-left: 30px;
  position: relative;
  font-size: 1.6rem;
}

.hero__title::before {
  position: absolute;
  left: -30px;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
}

.hero__heading {
  margin-top: 12px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.167;
}

.hero__heading strong {
  color: var(--primary-color);
}

.hero__desc {
  margin-top: 20px;
}

.hero-form {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 8px 8px 8px 23px;
  width: 540px;
  min-height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
  border: none;
  outline: none;
  font-size: 1.6rem;
}

.hero-form__submit {
  margin-left: 176px;
  background: var(--primary-color);
  color: #fff;
  transition: background 0.5s;
}

.hero-form__submit:hover {
  background: var(--secondary-color);
}

.hero__notice {
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 1.71;
}

/* Hero right */
.hero-media {
  position: relative;
}

.hero-media__img {
  width: 296px;
  height: 562px;
}

.hero-deposite {
  /* Position */
  position: absolute;
  left: -84px;
  top: 113px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 10px;
  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-deposite__desc,
.hero-deposite__price {
  font-weight: 400;
  font-size: 1.4rem;
}

.hero-deposite__price {
  color: #4ab5e3;
}

.hero-interest {
  /* Position */
  position: absolute;
  top: 130px;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #da6464;
}

.hero-interest strong {
  font-size: 4.4rem;
  color: #fff;
}

.hero-interest__desc {
  font-weight: 400;
  color: #fff;
}

.hero-fund {
  /* Position */
  position: absolute;
  right: 102px;
  bottom: 63px;

  display: flex;
  align-items: center;
  gap: 11px;
  padding: 20px 14px;
  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
}

.hero-fund__row-price {
  font-size: 1.4rem;
  color: #fff;
}

.hero-fund__row-desc {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}

/* ---------- Feature ------------ */
.feature {
  margin-top: 160px;
}

.feature-media {
  position: relative;
}

.feature-media__img {
  width: 456px;
  height: 619px;
  object-fit: cover;
}

.feature__bank-icon {
  position: absolute;
  top: 80px;
  right: 85px;
}

.feature-info {
  position: absolute;
  right: -88px;
  bottom: 100px;

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  width: 226px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.feature-info__label {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.feature-info__text {
  display: block;
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}

.feature__heading {
  margin-top: 12px;
}

.feature-content {
  margin-top: 29px;
}

.feature-content__body {
  margin-top: 70px;
}

.feature__title {
  margin-top: 30px;
  font-size: 2.2rem;
  line-height: 1.45;
  color: var(--secondary-color);
}

.feature__desc {
  margin-top: 16px;
  font-size: 1.6rem;
}

/*  */
.feature-row:nth-child(2) {
  margin-top: 160px;
}

.feature__item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667;
  color: var(--secondary-color);
}

.feature__item::before {
  margin-right: 12px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--primary-color);
}

.feature__item-group {
  margin-top: 28px;
}

.feature__item:not(:first-child) {
  margin-top: 18px;
}

.feature__btn {
  margin-top: 38px;
  transition: background 0.5s;
}

.feature__btn:hover {
  background: var(--primary-color);
}

/*  */
.feature-media__card {
  position: relative;
}

.feature-media__cash-card {
  margin-top: 86px;
}

.feature-info__send-money {
  position: absolute;
  top: 38px;
  right: 0;

  display: flex;
  align-items: center;
  padding: 23px 13px;
  width: 276px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature-info__title {
  margin-left: 14px;
}

.feature-info__airplane {
  width: 40px;
  height: 40px;
}

.feature-info__money {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.feature-info__date,
.feature-info__airbnb {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #696d76;
}

.feature-info__body {
  margin-left: 67px;
}

.feature-info__price {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.feature-info__date {
  margin-left: 14px;
}

.feature-info__income {
  position: absolute;
  bottom: 55px;
  right: 0;

  padding: 15px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
}

.feature-info__income-text {
  margin-top: 14px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

.feature-info__income-price {
  margin-top: 6px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

/*  */
.feature-row:nth-child(3) {
  margin-top: 160px;
}

.feature__decor {
  position: absolute;
  right: -130px;
  bottom: 172px;
  z-index: 1;
}

.feature-payment {
  position: absolute;
  right: -70px;
  bottom: 58px;
  padding: 28px;
  width: 281px;
  border-radius: 6px;
  background: #fff;
  filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.feature-payment__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: var(--secondary-color);
}

.feature-payment__methods {
  margin-top: 20px;
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(3, 1fr);
}

/* ---------- Feddback ----------- */

.feedback {
  margin-top: 160px;
}

.feedback-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback__title {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}

.feedback__title::before {
  position: absolute;
  left: -30px;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
}

.feedback__heading {
  text-align: center;
  margin: 18px auto 0;
}

.feedback__desc {
  margin-top: 18px;
  width: 435px;
  text-align: center;
  font-size: 16px;
}

.feedback-clients {
  margin-top: 70px;
}

/*  */
.feedback-item__speech:hover .feedback__chat-bubble {
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
  border: 1px solid #fff;
}

.feedback-item__speech:hover .feedback__chat-bubble::before {
  border: 1px solid #fff;
}

.feedback__chat-bubble {
  position: relative;
  padding: 42px 28px;
  width: 570px;
  min-height: 254px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #dfe2e8;
  transition: border 0.8s;
}

.feedback__chat-bubble::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -46px;
  width: 53px;
  height: 53px;
  background: #fff;
  border: 1px solid #dfe2e8;
  rotate: 45deg;
  z-index: -1;
  transition: border 0.8s;
}

.feedback__chat-bubble::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -45px;
  width: 56px;
  height: 57px;
  background: #fff;
  rotate: 45deg;
}

.feedback-item__desc {
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54;
  text-align: center;
}

.feedback-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.feedback-client__avatar {
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.feedback-client__name {
  margin-top: 28px;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.feedback-client__desc {
  margin-top: 2px;
}

/*  */
.feedback__dots {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.feedback__dot {
  width: 22px;
  height: 6px;
  border: 1px solid #9b9fab;
  border-radius: 2px;
}

.feedback__dot:hover,
.feedback__active {
  border: none;
  background: var(--primary-color);
}

/* ----------- Blog ------------ */
.blog {
  margin-top: 160px;
}

.blog-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__heading {
  margin-top: 6px;
}

.blog-top__desc {
  margin-top: 18px;
  width: 460px;
}

.blog__btn {
  transition: background 0.5s;
}

.blog__btn:hover {
  background: var(--primary-color);
}

/*  */
.blog-content {
  margin-top: 70px;
}

.blog-item {
  padding: 28px;
  display: flex;
  align-items: center;
  column-gap: 22px;
  width: 570px;
  height: 216px;
  border-radius: 12px;
  border: 1px solid #dfe2e8;
  background: transparent;
  transition: box-shadow 0.5s, border 0.5s;
}

.blog-item:hover {
  border: none;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item__thumb {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.blog-item__date {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: #696d76;
}

.blog-item__title {
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.blog-item__link {
  display: block;
  margin-top: 20px;
}

/*  */
.blog-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
